.site__entete{

}


.Logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.menu-entete-container {
    flex: 1;




.menu { //ul
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: auto;

.menu-item { //li
    flex: 1 0 70px;
    list-style: none;

    a{
        text-decoration: none;
        padding: 3px 5px;
        color: black;
    }
a:hover{
    color: #0f0;
}
}

}

}